head
    link(href='/css/dashboard.css', rel='stylesheet')
    link(href='/css/header.css', rel='stylesheet')
    
    link(rel='shortcut icon', href='/images/GWhite.png')
    
    script(src='/scripts/fingerprint.js')
    script(src='/scripts/GA.js')
    
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='/scripts/dashboard.js')
    
    title Dashboard
  
body
    header.main-header
        div#nav
            a#seller-dashboard(href='/dashboard')
                p seller dashboard
            a#store(href='/store')
                p store
        a(href='/')
            img.logo(src='/images/GossetMoustacheClear.png')
        div#user
            div#dropdown
                a(href='/logout')
                    div#logout
                        p Logout
                a(href='#')
                    div#settings
                        p Settings
    div.content
        if(showTOS)
            h5#showTOS By continuing to use Gosset, you accept the 
                a(href='/termsofuse')
                    span Updated Terms of Use
                span .
        div.upload
            a(href='/upload')
                p Upload a Data Set
        div.mydata
            h3 Data by #{user.firstName} #{user.lastName} 
            div#datacontent
                if metadata[0] 
                    ul#labels
                        li#col1 Title
                        li#col2 Description
                        li#col3 Publisher
                        li#col4 Filename
                        li#col5 Upload Date
                        li#col6 File Size
                    each m in metadata
                        ul
                            a(href='/product/' + m._id)
                                li#col1 #{m.title}
                            li#col2 #{m.description}
                            li#col3 #{m.email}
                            li#col4 #{m.filename}
                            li#col5 #{m.uploadDate.toDateString()}
                            li#col6 #{m.length / 1000}kb
                else
                    h4(style='font-weight:normal;') You have no data yet...Try uploading a data set above!

