head
    link(href='/css/product.css', rel='stylesheet')
    link(href='/css/header.css', rel='stylesheet')
    link(rel='shortcut icon', href='/images/GWhite.png')
    
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    
    script(src='/scripts/fingerprint.js')
    script(src='/scripts/GA.js')
    title Product
    
    script(src='/scripts/product.js')
body
    header.main-header
        a(href='/')
            img.logo(src='/images/GossetMoustacheClear.png')
        div#user
            div#dropdown
                a(href='/logout')
                    div#logout
                        p Logout
                a(href='#')
                    div#settings
                        p Settings
    div.content
        h1 #{data.metadata.title}
        h2 #{data.filename}
        p Uploaded on #{data.uploadDate.toDateString()}
        p #{data.length / 1000}kb
        p #{data.metadata.description}
        p Published by #{data.metadata.email}
        div.options
            a#download(href='/download/' + data._id)
                p download
            a#delete(href='/totalremove/' + data._id)
                p delete
        