head
  link(href='/css/product.css', rel='stylesheet')
  link(href='/css/menu.css', rel='stylesheet')
body
  script(src='//code.jquery.com/jquery-1.11.2.min.js')
  script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
  a(href='/dashboard')
    img.logo(src='/images/GossetMoustacheClear.png')
  .menu
      .menuContent
        ul#tabs
          a(href='/upload')
              li Upload
          a(href='/mydata')
              li My Data
          <!--a(href='/store')
              li Store-->
  h1 Product
  h1.title.center 
    strong Title: 
    | #{title}
  h5.fileName.center 
    strong Filename: 
    | #{fileName}
  p.description.center 
    strong Descpription: 
    | #{description}
  p.email.center 
    strong Owner: 
    | #{email}
  h2.keys.center
  a(href=download)
    h4.download.center Download
