head
    link(href='/css/product.css', rel='stylesheet')
    link(href='/css/header.css', rel='stylesheet')
    link(rel='shortcut icon', href='/images/GWhite.png')
    
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src="https://js.stripe.com/v2/")
    
    script(src='/scripts/fingerprint.js')
    script(src='/scripts/GA.js')
    title Product
    
    script(src='/scripts/product.js')
body
    header.main-header
        div#nav
            a#seller-dashboard(href='/')
                p seller dashboard
            a#store(href='/store')
                p store
        a(href='/')
            img.logo(src='/images/GossetMoustacheClear.png')
        div#user
            div#dropdown
                a(href='/logout')
                    div#logout
                        p Logout
                a(href='#')
                    div#settings
                        p Settings
    div.content
        div.left
            p#title #{data.metadata.title}
            p#filename (#{data.filename})
            if !isOwner && !isPurchased
                div#buttonLabel
                    //p Continue with Purchase
                    form.pay(method='post', action='/pay')
                        input(style="display:none;", value=data._id, name='id')
                        input#creditCardToken(style='display:none;', name='token')
                        if(paymentError)
                            p#payment-error Payment Error
                        div.top
                            p Card Number
                            input#number(type='text', placeholder='000000000000', maxlength='16', size='16', value='4242424242424242') 
                            p CVC 
                            input#cvc(type='text', placeholder='000', maxlength='3', size='3', value='358')
                        div.bottom
                            p Exp. Month
                            input#exp_month(type='number', maxlength='2', min='1', max='12', value='1')
                            p Exp. Year
                            input#exp_year(type='number', maxlength='4' min='2016' max='2030', value='2016')
                        p#submit Purchase
                        img#credit_cards(src='/images/credit_cards.png')
                        p#securityText Our Security Standards
                        p#security Credit card information is all tokenized on the client-side, making it nearly impossible for hackers to directly obtain this information. Additionally, all credit card information is processed through Stripe, a reliable and credible payments-processing company with a priority of security.
            div.options
                if isOwner || isPurchased
                    div#download
                        p download
                        div.downloadOptions
                            a(href='/download/' + data._id + '?ext=rawDownload')
                                p#rawDownload Raw Download
                            a(href='/download/' + data._id + '?ext=json')
                                p#json JSON Response
                            a(href='/download/' + data._id + '?ext=csv')
                                p#csv CSV Download                          
                if isOwner
                    div#delete
                        p delete
                
        div.right
            p.val Uploaded 
            p.tab #{data.uploadDate.toDateString()}
            p.val File Size
            p.tab #{data.length / 1000}kb
            p.val Published By 
            p.tab #{data.metadata.email}
            p.val Description
            p.tab #{data.metadata.description}
            if headers[0]
                p.val Fields
                p.tab #{headers}
            else 
                p.val Headers 
                p.tab (Unparsable) Contact nathan@gosset.co for more details.
            if !isPurchased
                p.val Price
                p.tab $#{data.metadata.price.toFixed(2)}
